h1 {
    font-family: montserratitalic;
    font-size: 5em;
  }
  h2 {
    font-family: lora;
  }
  p {
    font-family: lora;
    font-size: 1em;
  }
  .top{
    font-size: 1em;
    justify-content: center;
  }