h1 {
  text-align: center;
  color: white;
  font-family: montserratitalic;
  font-size: 5em;
}
footer {
  font-family: lora;
}
.h1bilde {
  background-image: url(/imgs/IMG_4399.webp);
  background-color: #f5ede5;
  background-size: cover;
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skaalcontainer {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}
.overst {
  padding: 5em;
  line-height: 1.5em;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
