h1{
    text-align: center;
    color: white;
}
.h1bilde{
    background-image:url(/imgs/coverprodukter.webp);
    background-color:#F5EDE5;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}