html {
  background-color: #f5ede5;
}
/* header {
  background-color: #f5ede5;
headeren skal gøre sig mindre, lige nu vil den ikke blive helt lille
}  */
h1,
h2 {
  font-family: lora;
}
p {
  font-family: lora;
}
body {
  /* background-color: #f5ede5; */
  /* max-width: 1200px; */
  justify-content: center;
}

footer {
  background-color: #473335;
  color: #f5ede5;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.headerlogo {
  aspect-ratio: 108/37;
  max-width: 0.5em;
  /* DETTE FUNGERER IKKE */
}
.headerul {
  padding-bottom: 5em;
  padding-right: 5em;
}
/* Padding skal vi ligge på li item og ikke kun teksten! så er det lettere at fange linket. */
a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #473335;
  font-weight: bold;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
  color: black;
}
@font-face {
  font-family: montserrat;
  src: url(/fonts/montserrat-variablefont_wght-webfont.woff2);
}
@font-face {
  font-family: montserratitalic;
  src: url(/fonts/montserrat-italic-variablefont_wght-webfont.woff2);
}
@font-face {
  font-family: lora;
  src: url(/fonts/lora-variablefont_wght-webfont.woff2);
}
@font-face {
  font-family: loraitalic;
  src: url(/fonts/lora-italic-variablefont_wght-webfont.woff2);
}
