header{
    background-color: #F5EDE5;
}
main{
    background-color: #F5EDE5;
}
footer{
    background-color: #473335;
    margin: 0 auto;
}
.headerlogo{
    aspect-ratio: 108/37;
    margin: 0;
    height: 10%;
}